name: Deploy to Steam

on:
  push:
    tags:
      - '*'
    branches:
      - main
      - 546-steam-cicd

jobs:
  build:
    uses: ./.github/workflows/build.yml
    secrets: inherit
  deployToSteam:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Windows build
        uses: actions/download-artifact@v4
        with:
          name: cosmos-x86_64-pc-windows-msvc
          path: build/windows

      - name: Download Linux build
        uses: actions/download-artifact@v4
        with:
          name: cosmos-x86_64-unknown-linux-gnu
          path: build/linux

      - name: Download Mac build
        uses: actions/download-artifact@v4
        with:
          name: cosmos-x86_64-apple-darwin
          path: build/mac

      - name: Deploy to Steam
        uses: game-ci/steam-deploy@v3
        with:
          username: ${{ secrets.STEAM_USERNAME }}          
          configVdf: ${{ secrets.STEAM_CONFIG_VDF}}          
          appId: 4142000
          # Use tag name as build description; customize to taste
          buildDescription: ${{ github.ref_name }}
          rootPath: build
          depot1Path: windows
          depot2Path: linux
          depot3Path: mac
          releaseBranch: prerelease
